<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Criar/Editar Turma</title>
  <link rel="stylesheet" href="/src/view/styles.css" />
</head>
<body>
  <section>
    <h2>Formulário de Turma</h2>
    <form id="formTurma">
      <input type="hidden" id="turmaId" />
      <input type="text" id="turmaNome" placeholder="Nome da Turma" required />
      <button type="submit">Salvar Turma</button>
    </form>
  </section>
  <script src="/src/view/criar-editar-turma.js"></script>
</body>
</html>